aiohttp
aiosignal
asyncio
attrs
beautifulsoup4
bs4
certifi
charset-normalizer
colorama
dnspython
fake-useragent
frozenlist
idna
importlib-resources
lxml
multidict
PyQt5
PyQt5-sip
requests
soupsieve
urllib3
watchdog
yarl
